.color-types {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: left;
}
.color-types li {
	display: inline-block;
	padding: 10px;
	border-bottom: 2px solid transparent;
	-webkit-transition: border-color 0.6s ease;
	transition: border-color 0.6s ease;
	cursor: pointer;
}
.color-types li.active {
	color: #82B23E;
	border-color: #82B23E;
}
.color {
	border-bottom: 2px solid #000;
	display: flex;
	padding: 25px 0 10px;
	align-items: center;
}
#color-hex,  #color-rgb, #color-cmyk {
	height: 25px;
	width: 25px;
	border-radius: 50%;
	display: inline-block;
	cursor: pointer;
}
#values-hex, #values-rgb, #values-cmyk {
	border: none;
	outline: none;
}